/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
	box-sizing: border-box;
}

.wrap{
  width: 100%;
/*   padding: 0px 30px; */
  margin-left: auto;
	margin-right: auto;
  box-sizing:border-box;
}

.container{
  margin: 0 auto;
/*   max-width: 1296px; */
  width: 100%;
  font-family: "Noto Sans TC",Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  padding: 0 30px;
  background: #FBFBFB;
}

/* 選單 */
menu{
  width: 100%;
}

.nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px;
}

.nav-item {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 28px;
  padding: 24px 20px;
}

.nav-item:hover{
  color: rgb(9, 210, 224);
  text-decoration: underline;
}

.nav-item-2{
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
  padding: 24px 20px;
  color: rgb(9, 210, 224);
}

.nav-item-2:hover{
  color: rgb(9, 210, 224);
  text-decoration: underline;
}

/* 表頭 */
.header{
  display: flex;
  flex-direction: column;
}

/* 看板區塊 */
.hero-banner{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; 
  height: calc(100vh - 90px);
}

.hero-banner-photo, .banner-introduce{
  flex: 1;
}

.hero-banner-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-introduce{
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-introduce h1{
  font-size: 120px;
  font-weight: 900;
  color: #0027D5;
}

.banner-introduce p{
  color: #0027D5;
  font-weight: 700;
  font-size: 28px;
}

/* 自我介紹 */
.hero-introduce {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(0,0,0,0.05);
  width: 620px;
  margin-top: -80px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;  
  margin-right: 40px;  
}

.hero-introduce p{
  gap: 6px;
  margin: 30px 20px 15px 20px;
}

.hero-introduce .social-icon {
  margin: 0 0 20px 10px;
}

/* 最新文章區塊 */
.current-post .current-content{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 1px solid #6C757D;  
}

.banner {
/*   width: 50%; */
  flex: 1;
}

.banner, .banner-text {
  flex: 1;
  min-width: 0; /* 允許項目在 flex 容器中縮小 */
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 最新文章介紹 */
.banner-text .container {
  max-width: 948px;
/*   margin: 0 15px 0 15px; */
  padding: 10px 15px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px 0 3px;
}

.banner-text h3{
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  margin: 5px 0;
}

.banner-text .container p{
/*   width: 560px; */
  font-weight: 500;
  max-width: 100%; 
  box-sizing: border-box; 
  color: #000000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
/*   margin: 5px 0 10px 0; */
/*   padding-right: 15px; */
  
}

/* 副標區塊文字 */
.banner-text .sub {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
  
}

/* 最新文章閱讀內文按鈕 */
.read-btn {
  /* width: 96px;
  height: 40px; */
  border: 1px solid #000000;
  border-radius: 40px;
  padding: 8px 16px;
  text-decoration: none;
  color: #4B4B4B;
  display: inline-block;
  margin-top: 15px;
}

.read-btn:hover {
  color:#ffffff;
  background: rgb(9, 210, 224);
  border: 1px solid #e0e0e0;
}

/* banner 副標樣式設定 */
.current-post .current-content .banner-text .subtitle {
  font-size: 24px;
  color: #0027d5;
  font-weight: 500;
}

.banner-text .sub .newpost {
/*   width: 88px; */   /* 用內容高度寬度去撐開 */
/*   height: 36px; */
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  display: flex;
  border-radius: 40px;
  text-align: center;
}

/* 最新文章樣式 */
.newpost{
  background: #0027D5;
  color:#ffffff;
  border-radius: 40px;
  display: inline;
}

/* 文章搜尋區塊 */
.search-bar {
  display: flex;
  align-items: center;
  width: 418px;
  margin-top: 80px;
  padding: 8px 16px;
  margin-left: 30px;
  border: 1px solid #4b4b4b;
  border-radius: 40px;
}

/* 放大鏡 icon */
.search-bar .search-icon {
  font-size: 20px;
  color: #6c757d;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  flex: 1;
  background: transparent;
  color: #4b4b4b;
  border: none;
  outline: none;
  padding: 4px 0;
}

/* 部落格文章區塊 */
.content{
  max-width:1296px;
  margin: 0 auto;
  padding: 40px 20px;
}

.course {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 20px;
}

.course > li { /* 使用子選擇器確保只影響直接的 <li> */
  width: calc((100% - (2 * 21px)) / 3);
  min-width: 280px;
}

.course-item {
  padding-bottom: 30px;
  margin-top: 15px;
  border-radius: 16px;
  box-shadow: 0 4px 10px 4px rgba(0,0,0,0.05);
  padding: 22px;
}

/* .course-item:hover{
  border-radius: 16px;
  box-shadow: 0 4px 10px 4px rgba(0,0,0,0.05);
} */

.course-item img{
  max-width:100%;
}

.course-item h3{
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course p{
  margin-bottom: 32px;
  color:#4B4B4B;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-time {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-tag {
  display: inline-block;
  color: #0027D5;
  font-size: 24px;
  font-weight: 500;
  padding-right: 8px;
  text-decoration: none;
}

.blog-tag:hover {
  color: rgb(9, 210, 224);
  text-decoration: underline;
}

.blog-read-btn {
/*   width: 96px;
  height: 40px; */
  border: 1px solid #000000;
  border-radius: 40px;
/*   margin-top: 20px; */
  padding: 8px 16px;
  text-decoration: none;
  color: #4B4B4B;
  display: inline-block;
}

.blog-read-btn:hover {
  color:#ffffff;
  background: rgb(9, 210, 224);
  border: 1px solid #e0e0e0;
}

.course-item .tag{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* 人氣文章標籤 */
.popular{
/*   width: 88px; */
  background: #0027D5;
  color:#ffffff;
  border-radius: 40px;
  margin-left: 5px;
  padding: 4px 1px;
}

/* 頁碼區塊 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pagination-content {
  display: flex;
  align-items: center;
  max-width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(0,0,0,0.05);
  padding: 8px 20px;
}

.page-number.current{
  color: #0027D5;
  margin-left: 10px;
  margin-right: 10px;
}

.page-number a, .space a{
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: #4B4B4B;
}

.prev a,.next a {
  text-decoration: none;
  color: #4B4B4B;
  margin-right: 10px;
  margin-left: 10px;
}

.page-number a:hover{
  text-decoration: underline;
  color: #0027D5;
}

.prev a:hover,.next a:hover ,.space a:hover {
  text-decoration: underline;
  color: #0027D5;
}

/* 表尾區塊 */
footer{
/*   max-width: 1296px; */
  margin: 0 auto;
  border-top: 1px solid #6C757D;
}
.footerStyle{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 10px;
  padding: 20px;
}

.footer-top {
  width: 100%;
  margin-bottom: 45px;
}

.footer-top .contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.social-icon{
  display: flex;
  gap:4px;
}

.footerStyle .mail{
  font-size: 32px;
  text-decoration: none;
  color:#000000;
  padding: 15px;
}

.footerStyle .mail:hover{
  text-decoration: underline;
  color: rgb(9, 210, 224);
}

.footerStyle img:hover{
/*   border: 1px solid rgb(9, 210, 224); */
  border-radius: 25px;
  transform: scale(1.1);
  background: #e9ecef;
}

.footerStyle img{
  display: flex;
  width: 50px;
  justify-content: center;
}

.copyright{
  text-align: center;
  margin: 24px;
}

/*Note.先寫PC版型，再依序往下寫響應式設計*/
/* 響應式設定 */
@media(max-width:992px){
  .hero-banner-photo {
    flex-wrap: wrap;
	  flex-direction: column;
  }
  .hero .hero-text-box {
    justify-content: center;
  }
  .hero-introduce {
    width: 90%;
    margin: -25px auto 0;
    padding-top: 0;
  }
  .banner-introduce h1{
    font-size: 52px;
  }
  .hero-banner-photo, .banner-introduce{
    width: 100%;
    flex: 0 0 100%;
  }
  .banner,　.banner-text {
    width: 100%;
    flex: 0 0 100%;
  }
  .read-btn {
    margin: 15px 0;
  }
  .course > li {
    flex: 1 1 100%;
  }
  .course{
    gap: 40px;
  }
  .course-item {
    padding: 30px;
  }
  .course-item img{
    width: 100%;
  }
  .pagination-content {
    width: auto;
    max-width: 100%; 
    flex-wrap: wrap; 
    justify-content: center;
    padding: 8px 10px;
  }
  .footer-top{
    max-width: 100%;
    flex-wrap:wrap;
  }
  .footer-top .contact{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
  }
  .container {
    padding: 0 16px;
  }
}
@media(max-width:767px){
  .wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
  }
  .container {
    width: 100%;
    padding: 0;
  }
  .banner-introduce h1{
    font-size: 52px;
  }
  .banner-introduce p{
    font-size: 20px; 
    text-align: center; 
  }
  .search-bar {
    width: 90%; 
    margin: 40px auto; 
  }
  .contact{
    width: 90%;   
  }
  .contact .mail{
    font-size: 22px;
    text-align: center;
  }
  .footerStyle img{
    width: 45px;
  }
  .footer-top {
    margin-bottom: 20px;
  }
  .copyright{
  margin: 10px;
  }
}